<%- include ../header.ejs %>
    <div class="subcategories-wrapper">
        <div class="container-fluid">
            <div class="container">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white px-0">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/">Home</a>
                        </li>
                        <% results[0].primary_category_id
                        .split('-').forEach(imgGroup => {%>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/categories/:<%=imgGroup%>">
                                    <% let name = imgGroup.charAt(0).toUpperCase() + imgGroup.slice(1) %>
                                        <%=name%>
                                </a>
                            </li>
                            <% });%>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2">
                    <% results.forEach((result) => { %>
                        <div class="col mb-4 ">
                            <div class="card border-dark rounded-lg h-100 d-inline-block pb-5">
                                <div class="card-body h-100 d-inline-block">
                                    <h5 class="card-title h-25">
                                        <%= result.name %>
                                    </h5>
                                    <div class="row h-50">
                                        <div class="col-4">
                                            <% for(let imgGroup of result.image_groups){ %>
                                                <% for(let image of imgGroup.images){ %>
                                                    <img class="card-img-top" src="/images/<%=image.link%>" alt="Card image cap">
                                                    <% break;%>
                                                        <% }%>
                                                            <% break;%>
                                                                <% }%>
                                        </div>
                                        <div class="col-8">
                                            <p>
                                                <%= result.short_description %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row h-25 pt-5">
                                        <div class="col">
                                            <%= result.price %>
                                                <%= result.currency %>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="/products/:<%= result.id%>" class="btn btn-primary">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});%>
                </div>
            </div>
        </div>
        <%- include ../footer.ejs %>