<%- include ../header.ejs %>
    <div class="categories-wrapper">
        <div class="container-fluid">
            <div class='container px-0 '>
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white px-0">
                        <% results.forEach((breadCrumbItem) => {             %>
                            <% if(breadCrumbItem.parent_category_id=="root" ){ %>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="/">Home</a>
                                </li>
                                <% } else {%>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="/categories/:<%=breadCrumbItem.parent_category_id%>">
                                            <% let name = breadCrumbItem.parent_category_id.charAt(0).toUpperCase() + breadCrumbItem.parent_category_id.slice(1) %>
                                                <%=name%>
                                        </a>
                                    </li>
                                    <%  }%>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <a href="/categories/:<%=breadCrumbItem.id%>">
                                                <%=test.name%>
                                            </a>
                                        </li>
                                        <% }); %>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-fluid">
            <div class='container'>
                <% results.forEach((result) => { %>
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                <%=result.page_title%>
                            </h3>
                        </div>
                        <div class="col-12 pb-5">
                            <%=result.page_description%>
                        </div>
                    </div>
                    <%});%>
            </div>
        </div>
        <div class="container-fluid">
            <div class='container'>
                <% results.forEach((pageResult) => { %>
                    <% pageResult.categories.forEach((category) => { %>
                        <div class="card mb-3 border-dark rounded-lg">
                            <%if(category.image!=null) { %>
                                <img class="card-img-top" src="/images/<%= category.image%>" alt="Card image cap">
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= category.page_title%>
                                        </h5>
                                        <p class="card-text">
                                            <%= category.page_description %>
                                        </p>
                                        <% if(category.hasOwnProperty('categories')) { %>
                                            <a href="/categories/:<%= category.id%>" class="btn btn-primary">View more</a>
                                            <% }else {%>
                                                <a href="/subcategories/:<%= category.id%>" class="btn btn-primary">View more</a>
                                                <%}%>
                                    </div>
                        </div>
                        <%});%>
                            <%});%>
            </div>
        </div>
    </div>

    <%- include ../footer.ejs %>